@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>

    <nav class="navbar-light bg-dark">
        <div class="container-xl">
            <a class="navbar-brand text-white fs-2 " id="1" href="~/Home.cshtml">Inicio</a>
            <a class="navbar-brand text-white ms-3 " id="2" href="~/Canciones.cshtml">Canciones</a>
            <a class="navbar-brand text-white ms-3" id="3" href="~/Albumes.cshtml">Albumes</a>
            <a class="navbar-brand text-white ms-3" id="4" href="~/Artistas.cshtml">Artistas</a>
        </div>
    </nav>

